* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.06s ease;
}

:root {
    --font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    font-family: var(--font);
    /* color: transparent !important; */
    padding-top: 80px;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

header {
    font-family: var(--font);
    background-color: #5b162d;
    height: 80px;
    width: 100vw;
    color: #d9e7ff;
    padding: 10px 4%;
    line-height: 60px;
    /* text-align: center; */
    position: fixed;
    top: 0;
    align-items: center;
    z-index: 1;
}

.usuario {
    background-color: white;
    height: 40px;
    line-height: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.814);
    gap: 20px;
}

.main-color {
    background: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
}

.secondary-back {
    background: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
}

.flex {
    display: flex;
}

.spa {
    justify-content: space-around;
}

.spb {
    justify-content: space-between;
}

.col {
    flex-direction: column;
}

.pdx {
    padding: 10px 4%;
}

/* SECCION FILTROS */
.filtros {
    width: 100%;
    padding: 10px 50px;
    color: black;
    line-height: 32px;

}

.ubicacion {
    display: flex;
}

.selection {
    display: flex;
    gap: 15px;
    align-items: center;
}

.gap20 {
    gap: 20px
}

/* .selection select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
} */

.selection select,
.selection select option {
    font-family: var(--font);
    font-size: 14pt;
}

.selection select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 7px 5px 5px 7px;
    height: 42px;
    background: #f0f0f0;
    color: #3b3b3b;
    font-size: 1em;
    border: none;
    border-radius: 20px;
    position: relative;
    transition: all 0.25s ease;
}

.estadocamas label,
.report {
    background-color: rgba(230, 230, 230, 0.527);
    padding: 0 14px 0 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.estadocamas label:active {
    background-color: #7f76dd;
    color: white;
}

.estadocamas label:hover,
.report:hover {
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.178);
}

/* FIN SECCION FILTROS */


.container,
.tabla {
    width: 96%;
    gap: 1em;
    margin: auto;
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}

.tabla tbody,
.tabla thead {
    color: black
}

.tabla thead {
    /* background: linear-gradient(45deg, rgba(0, 0, 255, 0.371), rgba(255, 0, 0, 0.271), rgba(212, 255, 0, 0.298), rgba(0, 0, 255, 0.252), rgba(0, 0, 0, 0.488)); */
    background: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
    color: white;
    font-size: 1.3em;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 60px;
    font-weight: 300;
}

.container h3 {
    padding-left: 0.7em;
    width: 100%;
    margin: auto;
    height: 30px;
    line-height: 30px;
    background-color: #d9e7ff;
    box-shadow: 0 0px 10px 2px black;
    text-transform: uppercase;
}

.tarjeta {
    margin: auto;
    display: flex;
    height: 240px;
    flex: 1 0 320px;
    max-width: 420px;
    flex-direction: column;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    border-radius: 5px;
    padding: 0.5em 0.5em;
    -webkit-box-shadow: 0px 7px 43px -12px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 0px 7px 43px -12px rgba(0, 0, 0, 0.66);
    box-shadow: 0px 7px 43px -12px rgba(216, 73, 73, 0.66);
}

.card {
    max-width: 100%;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-aroud;
    gap: 1em;
    margin-top: 0.5em;
}

.card img {
    border-radius: 50%;
    margin-right: 5px;
    border-width: 3px;
    border-style: solid;
}

.card-name {
    display: flex;
    flex-direction: column;
}

.card-name-item {
    display: flex;
}

.card-title {
    line-height: 1.2em;
}

.card-title h5 {
    font-size: 16pt;
    line-height: 1.5em;
}

.puntos {
    align-self: flex-end;
}

.stats {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.stats div {
    text-align: center;
}

.ranking {
    justify-self: flex-end;
    text-align: center;
}

table,
.female,
.male {
    border: solid 0px black;
    width: 96%;
    margin: auto;
    text-align: center;
    line-height: 30px;
    outline: 0;
    gap: 0;
    padding: 0;
    border-spacing: 0px 10px;
    border-collapse: separate;
}

#info td {
    padding: 10px;
    border: 0;
    text-transform: capitalize;

}


.female {
    background: linear-gradient(90deg, #d533a2 0%, #daae51 100%);
}

.male {
    background: linear-gradient(90deg, #4033d5 0%, #40a7b6 100%);
}


@media screen and (orientation:portrait) {
    body {
        padding-top: 50px;
        overflow-x: hidden;
    }
    header {
        height: 50px;
    }

    header h3 {
        font-size: 10pt;
    }

    header h5 {
        font-size: 8pt;
    }

    #camas {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .ubicacion {
        flex-direction: column;
    }

    .filtros {
        padding: 10px;
    }

    .estadocamas {
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        font-size: 9pt;
        gap: 5px
    }

    .cama {
        flex: 1;
        min-width: none !important;
    }

}